<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta lang="zh-CN">

        
        <link rel="stylesheet" href="/public/static/dist/js/../css/home.css?6b598f98">
        
    </head>
    <body>
        <div id="content"></div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

        
        <script src="/public/static/dist/js/home.js?f4a96478"></script>
        
    </body>
</html>
